body{background-color:#123;border-top:5px solid #000;color:#333;font-size:11px;padding:20px 0 40px}
a{color:#333;text-decoration:none}
a:hover{text-decoration:underline}
h1{font-family:Georgia, serif;font-weight:normal;text-align:center}
div.container_12{background-color: #FFF;}
#menu{background-color:#EFC}
#conteudo{background-color:#CBA}